<div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-logo">
          <a href="#"><img src="assets/images/logo.png" alt="Image"></a>
        </div>
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    
  
    <div class="site-blocks-cover overlay" style="background-image: url(assets/images/hero_bg_3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">Contact Us</h1>
            <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad maxime velit nostrum praesentium voluptatem. Mollitia perferendis dolore dolores.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light" data-aos="fade-up">
        <div class="container">
          <div class="row align-items-first">
            <div class="col-md-7">
              <form action="#" method="post" class="bg-white">
                <div class="p-3 p-lg-5 border">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="yellow_cards" class="text-black">Yellow Cards <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="yellow_cards" name="yellow_cards">
                    </div>
                    <div class="col-md-6">
                      <label for="red_cards" class="text-black">Red Cards <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="red_cards" name="red_cards">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="fouls" class="text-black">Fouls <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="fouls" name="fouls">
                    </div>
                    <div class="col-md-6">
                      <label for="offsides" class="text-black">Offsides <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="offsides" name="offsides">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="tackles" class="text-black">Tackles <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="tackles" name="tackles">
                    </div>
                    <div class="col-md-6">
                      <label for="tackle_success" class="text-black">Tackle Success <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="tackle_success" name="tackle_success">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="blocked_shots" class="text-black">Blocked Shots <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="blocked_shots" name="blocked_shots">
                    </div>
                    <div class="col-md-6">
                      <label for="interceptions" class="text-black">Interceptions <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="interceptions" name="interceptions">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="head_clearences" class="text-black">Head Clearances <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="head_clearences" name="head_clearences">
                    </div>
                    <div class="col-md-6">
                      <label for="recoveries" class="text-black">Recoveries <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="recoveries" name="recoveries">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="duels_won" class="text-black">Duels Won <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="duels_won" name="duels_won">
                    </div>
                    <div class="col-md-6">
                      <label for="duels_lost" class="text-black">Duels Lost <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="duels_lost" name="duels_lost">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="success_50" class="text-black">Success 50% <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="success_50" name="success_50">
                    </div>
                    <div class="col-md-6">
                      <label for="aerial_won" class="text-black">Aerials Won <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="aerial_won" name="aerial_won">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="aerial_lost" class="text-black">Aerials Lost <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="aerial_lost" name="aerial_lost">
                    </div>
                    <div class="col-md-6">
                      <label for="error_goal" class="text-black">Errors Leading to Goal <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="error_goal" name="error_goal">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="rating" class="text-black">Rating <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="rating" name="rating">
                    </div>
                    <div class="col-md-6">
                      <label for="value" class="text-black">Value <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="value" name="value">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-12">
                      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Predict Wage">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      

   

    <div class="site-section feature-blocks-1 no-margin-top">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="text-black">Match Highlights</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/img_1.jpg');">
              <div class="text">
                <h2 class="h5 text-white">Russia's World Cup Championship</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="200">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/img_2.jpg');">
              <div class="text">
                <h2 class="h5 text-white">Russia's World Cup Championship</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="300">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/img_3.jpg');">
              <div class="text">
                <h2 class="h5 text-white">Russia's World Cup Championship</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat autem illum nostrum sit distinctio!</p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>