
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Votre tableau de bord Power BI -->
            <div class="mt-5"> <!-- Ajoute une marge de 5 unités (par exemple, pixels) en haut -->
                <iframe title="Dashboard_Gark-3-4jj (1)" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=98ce324f-93aa-4458-b339-03b9a222da16&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>
