<div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-logo">
          <a href="#"><img src="assets/images/logo.png" alt="Image"></a>
        </div>
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    
  
    <div class="site-blocks-cover overlay" style="background-image: url(assets/images/hero_bg_3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 text-center text-md-left" data-aos="fade-up" data-aos-delay="400">
            <h1 class="bg-text-line">Prediction</h1>
            <p class="mt-4">Our performance analysis solution provides football clubs with user-friendly, adaptable dashboards for key team personnel. These tools deliver insights into team dynamics and strategies, enhancing on-field performance. We invite you to collaborate and elevate your club to sports excellence</p>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light" data-aos="fade-up">
        <div class="container">
          <div class="row align-items-first">
            <div class="col-md-7">
              <form action="#" method="post" class="bg-white">
                <div class="p-3 p-lg-5 border">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="saves" class="text-black">Saves <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="saves" name="saves">
                    </div>
                    <div class="col-md-6">
                      <label for="pen_saves" class="text-black">Penalty Saves <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="pen_saves" name="pen_saves">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="punches" class="text-black">Punches <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="punches" name="punches">
                    </div>
                    <div class="col-md-6">
                      <label for="high_claims" class="text-black">High Claims <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="high_claims" name="high_claims">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="catches" class="text-black">Catches <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="catches" name="catches">
                    </div>
                    <div class="col-md-6">
                      <label for="throw_out" class="text-black">Throw Outs <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="throw_out" name="throw_out">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="goalkick" class="text-black">Goal Kicks <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="goalkick" name="goalkick">
                    </div>
                    <div class="col-md-6">
                      <label for="clearences" class="text-black">Clearances <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="clearences" name="clearences">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="rating" class="text-black">Rating <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="rating" name="rating">
                    </div>
                    <div class="col-md-6">
                      <label for="value" class="text-black">Value <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="value" name="value">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-12">
                      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Predict Wage">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      

   

    <div class="site-section feature-blocks-1 no-margin-top">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="text-black">Match Highlights</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="100">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/img_1.jpg');">
              <div class="text">
                <h2 class="h5 text-white">Russia's World Cup Championship</h2>
                <p>Our performance analysis solution provides football clubs with user-friendly, adaptable dashboards for key team personnel. These tools deliver insights into team dynamics and strategies, enhancing on-field performance. We invite you to collaborate and elevate your club to sports excellence</p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="200">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/img_2.jpg');">
              <div class="text">
                <h2 class="h5 text-white">Russia's World Cup Championship</h2>
                <p>Our performance analysis solution provides football clubs with user-friendly, adaptable dashboards for key team personnel. These tools deliver insights into team dynamics and strategies, enhancing on-field performance. We invite you to collaborate and elevate your club to sports excellence</p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade" data-aos-delay="300">
            <div class="p-3 p-md-5 feature-block-1 mb-5 mb-lg-0 bg" style="background-image: url('assets/images/img_3.jpg');">
              <div class="text">
                <h2 class="h5 text-white">Russia's World Cup Championship</h2>
                <p>Our performance analysis solution provides football clubs with user-friendly, adaptable dashboards for key team personnel. These tools deliver insights into team dynamics and strategies, enhancing on-field performance. We invite you to collaborate and elevate your club to sports excellence</p>
                <p class="mb-0"><a href="#" class="btn btn-primary btn-sm px-4 py-2 rounded-0">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>