<footer id="footer" class="footer" style="background-color: black; color: white;">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-md-3">
                <div class="footer-widget text-center">
                    <div class="footer-logo" style="padding-top: 20px;">
                        <a href="#"><img src="assets/images/logo.png" alt="#" /></a>
                    </div>
                    <p style="margin-bottom: 20px;">Our performance analysis solution provides football clubs with user-friendly, adaptable dashboards for key team personnel. These tools deliver insights into team dynamics and strategies, enhancing on-field performance. We invite you to collaborate and elevate your club to sports excellence.</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget" style="padding-top: 20px;">
                    <h3>Menu</h3>
                    <ul class="footer-menu" style="color: white;">
                        <li><a href="#">About Us</a></li>
                        <li><a href="Dashboard">Dashboard</a></li>
                        <li><a href="Team">Team</a></li>
                        <li><a href="#">Recent Matchs</a></li>
                        <li><a href="#">Our Blog</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget" style="padding-top: 20px;">
                    <h3>Contact us</h3>
                    <ul class="address-list">
                        <li><span class="icon-location"></span> ESPRIT : Ecole Sup Privée d'Ingénierie et de Technologies</li>
                        <li><i class="fa fa-phone"></i> +216 52 242 291</li>
                        <li><i class="fa fa-envelope"></i> AnalyticsCrew@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                    <h3>Find Us</h3>
                    <div class="contact-footer" style="padding-top: 20px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25717.885278378767!2d10.186870133408216!3d36.89923946438593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb745e5c6f1b%3A0xf69a51ee3c65c12e!2sESB%20%3A%20Esprit%20School%20of%20Business!5e0!3m2!1sen!2stn!4v1648241821790!5m2!1sen!2stn" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen></iframe>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <!-- Contenu du bas de page si nécessaire -->
        </div>
    </div>
    
</footer>
